target
/WorkSpace/bigdata-hdfs/out
/WorkSpace/bigdata-hdfs/.idea
/测试数据
/WorkSpace/Hive-Projects/Hive-Projects.iml
/WorkSpace/Hive-Projects/.idea
/WorkSpace/Zookeeper-Projects/Zookeeper-Projects.iml
/WorkSpace/Zookeeper-Projects/.idea
/WorkSpace/Zookeeper-Projects/out
